#!/bin/bash
set -euo pipefail

{{- if .packages.pacman }}
sudo pacman -S --needed --noconfirm {{ range .packages.pacman }}{{ . }} {{ end }}
{{- end }}

{{- if .packages.aur }}
#paru -S --needed --noconfirm {{ range .packages.aur }}{{ . }} {{ end }}
{{- end }}